

.faqSection{
    background-color: #FFFFFF;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}


.faqTitle{
font-family: var(--font-sans);
font-weight: 600;
font-style: Bold;
font-size: 48.2px;
color:#0961A1 ;
line-height: 56px;
letter-spacing: -1.07px;
vertical-align: middle;
}